doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic-ext' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    title Frontier MWD Systems
// Header
header.header.header--absolute
    .header__inner
        .header__item
            .header__btn
                .header__sandwich
                    .sandwich__line.sandwich__line-top
                    .sandwich__line.sandwich__line-center
                    .sandwich__line.sandwich__line-bottom
            .header__logo
                a(href='#')
                    img.logo(src='images/logo1.svg' alt='')
            nav.nav
                a.nav__link(href='#') About us
                a.nav__link(href='#') Products &amp; Services
                a.nav__link(href='#') Contacts
        .header__item
            .header__phone Houston Ph: 832-559-1608
            .header__phone Midland Ph: 432-789-1080
// Main
main.main
    //TODO Index(slider)
    .index
        .index__inner
            .index__bg
                img.index__picture(src='images/steadidrill_topbanner%202.png' alt='')
            .index__side-bar
                .side-bar__line.side-bar__line__active
                .side-bar__line
                .side-bar__line
                .side-bar__line
            svg.index__circles
                circle.circle-1(r='180px' cx='10%' cy='45%')
                circle.circle-2(r='302px' cx='10%' cy='45%')
                circle.circle-3(r='893px' cx='10%' cy='45%')
                circle.circle-4(r='1185px' cx='10%' cy='45%')
            h1.index__title
                span Frontier
                |  MWD Systems
            h2.index__info
                | Frontier MWD Systems, a subsidiary of NewTech Services Holding Limited, is one of the fastest growing and most reliable MWD rental and service companies in the US.
    // About Us
    .about
        .about__inner
            .about__title
                h3 about us
            .about__info
                p
                    | Frontier MWD Systems provides customers with the option to rent, lease to own and/or purchase advanced MWD/LWD kits backed by an industry-leading commitment to service and support.
                a(href='#') learn more &nbsp;&gt;
    // Works
    .works
        .works__item
            .works__bg
                img(src='images/steadidrill_topbanner_2.png')
            .works__title
                h3 MWD/LWD Tools
            .works__inner
                .works__info
                    ul
                        li
                            a.works__info-link(href='#') Intelligent Pulser Gamma Module (iPGM)
                        li
                            a.works__info-link(href='#') Intelligent Directional Module (IDM)
                        li
                            a.works__info-link(href='#') Guide MWD Surface System
                .works__more
                    .works__more-anim
                    a.works__more-link(href='#') learn more &nbsp;&gt;
        .works__item
            .works__bg
                img(src='images/rzrfrac_features.png')
            .works__title
                h3 Software Products
            .works__inner
                .works__info
                    ul
                        li
                            a.works__info-link(href='#') Intelligent Pulser Gamma Module (iPGM)
                        li
                            a.works__info-link(href='#') Intelligent Directional Module (IDM)
                        li
                            a.works__info-link(href='#') Guide MWD Surface System
                .works__more
                    .works__more-anim
                    a.works__more-link(href='#') learn more &nbsp;&gt;
        .works__item
            .works__bg
                img(src='images/CasingPacker_Web_Banner.png')
            .works__title
                h3 Complete MWD Kits and Other Products
            .works__inner
                .works__info
                    ul
                        li
                            a.works__info-link(href='#') Intelligent Pulser Gamma Module (iPGM)
                        li
                            a.works__info-link(href='#') Intelligent Directional Module (IDM)
                        li
                            a.works__info-link(href='#') Guide MWD Surface System
                .works__more
                    .works__more-anim
                    a.works__more-link(href='#') learn more &nbsp;&gt;
    //Info
    .info
        .info__inner
            .info__bg
                img.info__picture(src="images/logo_bg.svg" alt="")
            .info__item
                .info__title
                    h3 NewTech Services Holding Limited
                .info__text
                    p NewTech Services Holding Limited is an international oilfield services company founded in 2009. NewTech Services supplies high technology products and services to the oil and gas exploration and production industry.
            .info__item
                .info__count
                    .count__item
                        h3 9
                        h4 Manufacturing Facilities Worldwide
                    .count__item
                        h3 12
                        h4 Service & Maintenance Centers Worldwide
                .info__office
                    .office__item
                        h2 27
                        h4 Regional Offices Worldwide
                    .office__item
                        h2 13
                        h4 Regional Offices in Russia
    //Map
    .map
        .map__bg
            img.map__picture(src="images/map_Light.png" alt="")
        .map__nav
            a.map__nav-link.map__nav-link--active(href="#") World
            a.map__nav-link(href="#") Russia
        .map__item-1
            .map__title
                h2 International
                    br
                    span  sales
            a.map__more-link(href="#") learn more &nbsp;&gt;
        .map__item-2
            h4 Need Help with Shipping?
            p We offer several logistics options for international shipping, and can help make sure that your kit arrives in the right place at the right time.
    //TODO News (with slider)







div(style='height: 5000px')
// Скролл-тест
script(src='js/script.js')
