doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic-ext' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(rel="stylesheet" href="css/swiper.min.css")
    title Андрей Селедцов
// Header
header.header.header--absolute
    .header__inner
        .header__item
            .header__btn
                .header__sandwich
                    .sandwich__line.sandwich__line-top
                    .sandwich__line.sandwich__line-center
                    .sandwich__line.sandwich__line-bottom
            .header__logo
                a(href='#')
                    img.logo(src='images/logo1.svg' alt='')
            nav.nav
                a.nav__link(href='#') About us
                a.nav__link(href='#') Products &amp; Services
                a.nav__link(href='#') Contacts
        .header__item
            .header__phone Houston Ph: 832-559-1608
            .header__phone Midland Ph: 432-789-1080
// Main
main.main
    .index
        .swiper-container--wrapper
            .swiper-container.swiper-container--index
                .swiper-wrapper.swiper-wrapper--index
                    .swiper-slide.swiper-slide--index
                        .index__bg
                            img.index__picture(src='images/steadidrill_topbanner%202.png' alt='')
                        svg.circle-1(width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M179.999 359.5C144.498 359.5 109.794 348.972 80.2751 329.249C50.7565 309.525 27.7497 281.491 14.1638 248.692C0.577828 215.893 -2.97694 179.801 3.94911 144.982C10.8752 110.162 27.9707 78.1781 53.0742 53.0746C78.1778 27.9711 110.162 10.8751 144.981 3.9491C179.801 -2.97694 215.892 0.577828 248.692 14.1637C281.491 27.7497 309.525 50.7569 329.249 80.2755C348.972 109.794 359.5 144.498 359.5 179.999C359.419 227.581 340.481 273.191 306.836 306.836C273.191 340.481 227.581 359.419 179.999 359.5Z" stroke="#FFCE35")
                        svg.circle-2(width="604" height="604" viewBox="0 0 604 604" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198 603.5C138.369 603.5 80.077 585.817 30.4955 552.688C-19.0859 519.559 -57.7296 472.471 -80.5494 417.379C-103.369 362.288 -109.34 301.666 -97.7067 243.181C-86.0732 184.696 -57.3584 130.973 -15.1928 88.8078C26.9727 46.6423 80.6951 17.9268 139.18 6.29334C197.666 -5.3401 258.287 0.630725 313.379 23.4505C368.471 46.2703 415.559 84.9147 448.688 134.496C481.817 184.077 499.5 242.369 499.5 301.999C499.364 381.92 467.555 458.53 411.042 515.042C354.529 571.555 277.921 603.364 198 603.5Z" stroke="#FFCE35")
                        svg.circle-3(width="1091" height="1091" viewBox="0 0 1091 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1391.5C21.481 1391.5 -151.076 1339.16 -297.847 1241.09C-444.618 1143.02 -559.011 1003.63 -626.562 840.546C-694.113 677.463 -711.788 498.012 -677.351 324.884C-642.913 151.756 -557.912 -7.27298 -433.093 -132.091C-308.275 -256.91 -149.246 -341.913 23.8823 -376.351C197.01 -410.788 376.462 -393.113 539.545 -325.562C702.628 -258.011 842.018 -143.616 940.087 3.15518C1038.16 149.926 1090.5 322.48 1090.5 498.999C1090.1 735.581 995.937 962.359 828.648 1129.65C661.359 1296.94 434.582 1391.1 198.001 1391.5Z" stroke="#FFCE35")
                        svg.circle-4(width="1383" height="1383" viewBox="0 0 1383 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1683.5C-36.2709 1683.5 -265.283 1614.03 -460.073 1483.88C-654.863 1353.72 -806.682 1168.73 -896.334 952.29C-985.986 735.851 -1009.44 497.688 -963.74 267.918C-918.036 38.1476 -805.224 -172.911 -639.569 -338.566C-473.913 -504.221 -262.855 -617.036 -33.0839 -662.74C196.687 -708.444 434.85 -684.986 651.289 -595.334C867.728 -505.683 1052.72 -353.861 1182.88 -159.071C1313.03 35.7191 1382.5 264.728 1382.5 498.999C1381.96 812.983 1257 1113.96 1034.98 1335.98C812.956 1558 511.985 1682.96 198.001 1683.5Z" stroke="#FFCE35")
                        h1.index__title
                            span Frontier
                            |  MWD Systems
                        h2.index__info
                            | Frontier MWD Systems, a subsidiary of NewTech Services Holding Limited, is one of the fastest growing and most reliable MWD rental and service companies in the US.
                    .swiper-slide.swiper-slide--index
                        .index__bg
                            img.index__picture(src='images/steadidrill_topbanner%202.png' alt='')
                        svg.circle-1(width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M179.999 359.5C144.498 359.5 109.794 348.972 80.2751 329.249C50.7565 309.525 27.7497 281.491 14.1638 248.692C0.577828 215.893 -2.97694 179.801 3.94911 144.982C10.8752 110.162 27.9707 78.1781 53.0742 53.0746C78.1778 27.9711 110.162 10.8751 144.981 3.9491C179.801 -2.97694 215.892 0.577828 248.692 14.1637C281.491 27.7497 309.525 50.7569 329.249 80.2755C348.972 109.794 359.5 144.498 359.5 179.999C359.419 227.581 340.481 273.191 306.836 306.836C273.191 340.481 227.581 359.419 179.999 359.5Z" stroke="#FFCE35")
                        svg.circle-2(width="604" height="604" viewBox="0 0 604 604" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198 603.5C138.369 603.5 80.077 585.817 30.4955 552.688C-19.0859 519.559 -57.7296 472.471 -80.5494 417.379C-103.369 362.288 -109.34 301.666 -97.7067 243.181C-86.0732 184.696 -57.3584 130.973 -15.1928 88.8078C26.9727 46.6423 80.6951 17.9268 139.18 6.29334C197.666 -5.3401 258.287 0.630725 313.379 23.4505C368.471 46.2703 415.559 84.9147 448.688 134.496C481.817 184.077 499.5 242.369 499.5 301.999C499.364 381.92 467.555 458.53 411.042 515.042C354.529 571.555 277.921 603.364 198 603.5Z" stroke="#FFCE35")
                        svg.circle-3(width="1091" height="1091" viewBox="0 0 1091 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1391.5C21.481 1391.5 -151.076 1339.16 -297.847 1241.09C-444.618 1143.02 -559.011 1003.63 -626.562 840.546C-694.113 677.463 -711.788 498.012 -677.351 324.884C-642.913 151.756 -557.912 -7.27298 -433.093 -132.091C-308.275 -256.91 -149.246 -341.913 23.8823 -376.351C197.01 -410.788 376.462 -393.113 539.545 -325.562C702.628 -258.011 842.018 -143.616 940.087 3.15518C1038.16 149.926 1090.5 322.48 1090.5 498.999C1090.1 735.581 995.937 962.359 828.648 1129.65C661.359 1296.94 434.582 1391.1 198.001 1391.5Z" stroke="#FFCE35")
                        svg.circle-4(width="1383" height="1383" viewBox="0 0 1383 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1683.5C-36.2709 1683.5 -265.283 1614.03 -460.073 1483.88C-654.863 1353.72 -806.682 1168.73 -896.334 952.29C-985.986 735.851 -1009.44 497.688 -963.74 267.918C-918.036 38.1476 -805.224 -172.911 -639.569 -338.566C-473.913 -504.221 -262.855 -617.036 -33.0839 -662.74C196.687 -708.444 434.85 -684.986 651.289 -595.334C867.728 -505.683 1052.72 -353.861 1182.88 -159.071C1313.03 35.7191 1382.5 264.728 1382.5 498.999C1381.96 812.983 1257 1113.96 1034.98 1335.98C812.956 1558 511.985 1682.96 198.001 1683.5Z" stroke="#FFCE35")
                        h1.index__title
                            span Frontier
                            |  MWD Systems
                        h2.index__info
                            | Frontier MWD Systems, a subsidiary of NewTech Services Holding Limited, is one of the fastest growing and most reliable MWD rental and service companies in the US.
                    .swiper-slide.swiper-slide--index
                        .index__bg
                            img.index__picture(src='images/steadidrill_topbanner%202.png' alt='')
                        svg.circle-1(width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M179.999 359.5C144.498 359.5 109.794 348.972 80.2751 329.249C50.7565 309.525 27.7497 281.491 14.1638 248.692C0.577828 215.893 -2.97694 179.801 3.94911 144.982C10.8752 110.162 27.9707 78.1781 53.0742 53.0746C78.1778 27.9711 110.162 10.8751 144.981 3.9491C179.801 -2.97694 215.892 0.577828 248.692 14.1637C281.491 27.7497 309.525 50.7569 329.249 80.2755C348.972 109.794 359.5 144.498 359.5 179.999C359.419 227.581 340.481 273.191 306.836 306.836C273.191 340.481 227.581 359.419 179.999 359.5Z" stroke="#FFCE35")
                        svg.circle-2(width="604" height="604" viewBox="0 0 604 604" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198 603.5C138.369 603.5 80.077 585.817 30.4955 552.688C-19.0859 519.559 -57.7296 472.471 -80.5494 417.379C-103.369 362.288 -109.34 301.666 -97.7067 243.181C-86.0732 184.696 -57.3584 130.973 -15.1928 88.8078C26.9727 46.6423 80.6951 17.9268 139.18 6.29334C197.666 -5.3401 258.287 0.630725 313.379 23.4505C368.471 46.2703 415.559 84.9147 448.688 134.496C481.817 184.077 499.5 242.369 499.5 301.999C499.364 381.92 467.555 458.53 411.042 515.042C354.529 571.555 277.921 603.364 198 603.5Z" stroke="#FFCE35")
                        svg.circle-3(width="1091" height="1091" viewBox="0 0 1091 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1391.5C21.481 1391.5 -151.076 1339.16 -297.847 1241.09C-444.618 1143.02 -559.011 1003.63 -626.562 840.546C-694.113 677.463 -711.788 498.012 -677.351 324.884C-642.913 151.756 -557.912 -7.27298 -433.093 -132.091C-308.275 -256.91 -149.246 -341.913 23.8823 -376.351C197.01 -410.788 376.462 -393.113 539.545 -325.562C702.628 -258.011 842.018 -143.616 940.087 3.15518C1038.16 149.926 1090.5 322.48 1090.5 498.999C1090.1 735.581 995.937 962.359 828.648 1129.65C661.359 1296.94 434.582 1391.1 198.001 1391.5Z" stroke="#FFCE35")
                        svg.circle-4(width="1383" height="1383" viewBox="0 0 1383 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1683.5C-36.2709 1683.5 -265.283 1614.03 -460.073 1483.88C-654.863 1353.72 -806.682 1168.73 -896.334 952.29C-985.986 735.851 -1009.44 497.688 -963.74 267.918C-918.036 38.1476 -805.224 -172.911 -639.569 -338.566C-473.913 -504.221 -262.855 -617.036 -33.0839 -662.74C196.687 -708.444 434.85 -684.986 651.289 -595.334C867.728 -505.683 1052.72 -353.861 1182.88 -159.071C1313.03 35.7191 1382.5 264.728 1382.5 498.999C1381.96 812.983 1257 1113.96 1034.98 1335.98C812.956 1558 511.985 1682.96 198.001 1683.5Z" stroke="#FFCE35")
                        h1.index__title
                            span Frontier
                            |  MWD Systems
                        h2.index__info
                            | Frontier MWD Systems, a subsidiary of NewTech Services Holding Limited, is one of the fastest growing and most reliable MWD rental and service companies in the US.
                    .swiper-slide.swiper-slide--index
                        .index__bg
                            img.index__picture(src='images/steadidrill_topbanner%202.png' alt='')
                        svg.circle-1(width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M179.999 359.5C144.498 359.5 109.794 348.972 80.2751 329.249C50.7565 309.525 27.7497 281.491 14.1638 248.692C0.577828 215.893 -2.97694 179.801 3.94911 144.982C10.8752 110.162 27.9707 78.1781 53.0742 53.0746C78.1778 27.9711 110.162 10.8751 144.981 3.9491C179.801 -2.97694 215.892 0.577828 248.692 14.1637C281.491 27.7497 309.525 50.7569 329.249 80.2755C348.972 109.794 359.5 144.498 359.5 179.999C359.419 227.581 340.481 273.191 306.836 306.836C273.191 340.481 227.581 359.419 179.999 359.5Z" stroke="#FFCE35")
                        svg.circle-2(width="604" height="604" viewBox="0 0 604 604" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198 603.5C138.369 603.5 80.077 585.817 30.4955 552.688C-19.0859 519.559 -57.7296 472.471 -80.5494 417.379C-103.369 362.288 -109.34 301.666 -97.7067 243.181C-86.0732 184.696 -57.3584 130.973 -15.1928 88.8078C26.9727 46.6423 80.6951 17.9268 139.18 6.29334C197.666 -5.3401 258.287 0.630725 313.379 23.4505C368.471 46.2703 415.559 84.9147 448.688 134.496C481.817 184.077 499.5 242.369 499.5 301.999C499.364 381.92 467.555 458.53 411.042 515.042C354.529 571.555 277.921 603.364 198 603.5Z" stroke="#FFCE35")
                        svg.circle-3(width="1091" height="1091" viewBox="0 0 1091 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1391.5C21.481 1391.5 -151.076 1339.16 -297.847 1241.09C-444.618 1143.02 -559.011 1003.63 -626.562 840.546C-694.113 677.463 -711.788 498.012 -677.351 324.884C-642.913 151.756 -557.912 -7.27298 -433.093 -132.091C-308.275 -256.91 -149.246 -341.913 23.8823 -376.351C197.01 -410.788 376.462 -393.113 539.545 -325.562C702.628 -258.011 842.018 -143.616 940.087 3.15518C1038.16 149.926 1090.5 322.48 1090.5 498.999C1090.1 735.581 995.937 962.359 828.648 1129.65C661.359 1296.94 434.582 1391.1 198.001 1391.5Z" stroke="#FFCE35")
                        svg.circle-4(width="1383" height="1383" viewBox="0 0 1383 1080" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M198.001 1683.5C-36.2709 1683.5 -265.283 1614.03 -460.073 1483.88C-654.863 1353.72 -806.682 1168.73 -896.334 952.29C-985.986 735.851 -1009.44 497.688 -963.74 267.918C-918.036 38.1476 -805.224 -172.911 -639.569 -338.566C-473.913 -504.221 -262.855 -617.036 -33.0839 -662.74C196.687 -708.444 434.85 -684.986 651.289 -595.334C867.728 -505.683 1052.72 -353.861 1182.88 -159.071C1313.03 35.7191 1382.5 264.728 1382.5 498.999C1381.96 812.983 1257 1113.96 1034.98 1335.98C812.956 1558 511.985 1682.96 198.001 1683.5Z" stroke="#FFCE35")
                        h1.index__title
                            span Frontier
                            |  MWD Systems
                        h2.index__info
                            | Frontier MWD Systems, a subsidiary of NewTech Services Holding Limited, is one of the fastest growing and most reliable MWD rental and service companies in the US
                .swiper-pagination

    // About Us
    .about
        .about__inner
            .about__title
                h3 about us
            .about__info
                p
                    | Frontier MWD Systems provides customers with the option to rent, lease to own and/or purchase advanced MWD/LWD kits backed by an industry-leading commitment to service and support.
                a(href='#') learn more &nbsp;&gt;
    // Works
    .works
        .works__item
            .works__bg
                img(src='images/steadidrill_topbanner_2.png')
            .works__title
                h3 MWD/LWD Tools
            .works__inner
                .works__info
                    ul
                        li
                            a.works__info-link(href='#') Intelligent Pulser Gamma Module (iPGM)
                        li
                            a.works__info-link(href='#') Intelligent Directional Module (IDM)
                        li
                            a.works__info-link(href='#') Guide MWD Surface System
                .works__more
                    .works__more-anim
                    a.works__more-link(href='#') learn more &nbsp;&gt;
        .works__item
            .works__bg
                img(src='images/rzrfrac_features.png')
            .works__title
                h3 Software Products
            .works__inner
                .works__info
                    ul
                        li
                            a.works__info-link(href='#') Intelligent Pulser Gamma Module (iPGM)
                        li
                            a.works__info-link(href='#') Intelligent Directional Module (IDM)
                        li
                            a.works__info-link(href='#') Guide MWD Surface System
                .works__more
                    .works__more-anim
                    a.works__more-link(href='#') learn more &nbsp;&gt;
        .works__item
            .works__bg
                img(src='images/CasingPacker_Web_Banner.png')
            .works__title
                h3 Complete MWD Kits and Other Products
            .works__inner
                .works__info
                    ul
                        li
                            a.works__info-link(href='#') Intelligent Pulser Gamma Module (iPGM)
                        li
                            a.works__info-link(href='#') Intelligent Directional Module (IDM)
                        li
                            a.works__info-link(href='#') Guide MWD Surface System
                .works__more
                    .works__more-anim
                    a.works__more-link(href='#') learn more &nbsp;&gt;
    //Info
    .info
        .info__inner
            .info__bg
                img.info__picture(src="images/logo_bg.svg" alt="")
            .info__item.info__item--1
                .info__title
                    h3 NewTech Services Holding Limited
                .info__text
                    p NewTech Services Holding Limited is an international oilfield services company founded in 2009. NewTech Services supplies high technology products and services to the oil and gas exploration and production industry.
            .info__item.info__item--2
                .info__count
                    .count__item
                        h3 9
                        h4 Manufacturing Facilities Worldwide
                    .count__item
                        h3 12
                        h4 Service & Maintenance Centers Worldwide
                .info__office
                    .office__item
                        h2 27
                        h4 Regional Offices Worldwide
                    .office__item
                        h2 13
                        h4 Regional Offices in Russia
    //Map
    .map
        .map__bg
            img.map__picture(src="images/map_Light.png" alt="")
        .map__nav
            .map__nav-link.map__nav-link--active World
            .map__nav-link Russia
        .map__item.map__item--1
            .map__title
                h2 International
                    br
                    span  sales
            a.map__more-link(href="#") learn more &nbsp;&gt;
        .map__item.map__item--2
            h4 Need Help with Shipping?
            p We offer several logistics options for international shipping, and can help make sure that your kit arrives in the right place at the right time.
    //News
    .news
        .news__inner
            .news__title
                h2 Новости
            .swiper-container.swiper-container--news
                .swiper-wrapper.swiper__wrapper--news
                    .swiper-slide.swiper__slide--news
                        a.news-link(href="#" target="_blank")
                            .news-slide__data
                                h4 18 апреля 2019
                            .news-slide__bg
                                img(src="images/news_1.jpg")
                                .news-slide__title
                                    h3 Команда НьюТек Сервисез по мини-футболу...
                            .news-slide__text
                                p 17 марта на крытом футбольном манеже «Олимп» в районе Новокосино состоялся очередной благотворительный турнир «Кубок Нефть и Газ ....
                    .swiper-slide.swiper__slide--news
                        a.news-link(href="#" target="_blank")
                            .news-slide__data
                                h4 11 марта 2019
                            .news-slide__bg
                                img(src="images/news_2.jpg")
                                .news-slide__title
                                    h3 В Минусинске успешно выполнены ...
                            .news-slide__text
                                p В апреле текущего года по договору между компаниями «НьюТек Сервисез» и «ГЕОТЕК Сейсморазведка», одной из крупнейших в мире...
                    .swiper-slide.swiper__slide--news
                        a.news-link(href="#" target="_blank")
                            .news-slide__data
                                h4 8 марта 2019
                            .news-slide__bg
                                img(src="images/news_3.jfif")
                                .news-slide__title
                                    h3 Завод НьюТек Сервисез запущен в Перми...
                            .news-slide__text
                                p В апреле в Перми НьюТек Сервисез запустило один из первых заводов в России по производству набухающих пакеров – надежного, безопасного и...
                    .swiper-slide.swiper__slide--news
                        a.news-link(href="#" target="_blank")
                            .news-slide__data
                                h4 18 апреля 2019
                            .news-slide__bg
                                img(src="images/news_1.jpg")
                                .news-slide__title
                                    h3 Команда НьюТек Сервисез по мини-футболу...
                            .news-slide__text
                                p 17 марта на крытом футбольном манеже «Олимп» в районе Новокосино состоялся очередной благотворительный турнир «Кубок Нефть и Газ ....
                    .swiper-slide.swiper__slide--news
                        a.news-link(href="#" target="_blank")
                            .news-slide__data
                                h4 11 марта 2019
                            .news-slide__bg
                                img(src="images/news_2.jpg")
                                .news-slide__title
                                    h3 В Минусинске успешно выполнены ...
                            .news-slide__text
                                p В апреле текущего года по договору между компаниями «НьюТек Сервисез» и «ГЕОТЕК Сейсморазведка», одной из крупнейших в мире...
                    .swiper-slide.swiper__slide--news
                        a.news-link(href="#" target="_blank")
                            .news-slide__data
                                h4 8 марта 2019
                            .news-slide__bg
                                img(src="images/news_3.jfif")
                                .news-slide__title
                                    h3 Завод НьюТек Сервисез запущен в Перми...
                            .news-slide__text
                                p В апреле в Перми НьюТек Сервисез запустило один из первых заводов в России по производству набухающих пакеров – надежного, безопасного и...
    .request
        .request__inner
            .request__title
                h2 Request More Information
            form.form__request(name="request" novalidate method="POST")
                .input__wrapper
                    input.form__input.form__name(name="name" type="text" placeholder="Name")
                    .input__wrapper--error
                .input__wrapper
                    input.form__input.form__company(name="company" type="text" placeholder="Company")
                    .input__wrapper--error
                .input__wrapper
                    select.form__input.form__business-segment
                    .input__wrapper--error
                .input__wrapper
                    input.form__input.form__email(name="email" type="email" placeholder="Email")
                    .input__wrapper--error
                .input__wrapper
                    input.form__input.form__phone(name="phone" type="tel" placeholder="Phone Number")
                    .input__wrapper--error
                .input__wrapper
                    textarea.form__textarea.form__comment(name="comment" placeholder="Комментарий")
                .checkbox__wrapper
                    input.form__checkbox(type="checkbox" id="form__checkbox")
                    label.form__checkbox-label(for="form__checkbox") I give consent for my personal data to be processed
                button.form__send-btn(name="sendButton" type="submit") Send
footer.footer
    .footer__title
        h2 Effective Advanced
            br
            span Technologies
    .footer__contacts
        .contacts__address
            .contacts__address-item
                h3 Houstion
                p 22955 State Hwy. 249, Suite 33
                    br
                    | Tomball, Texas 77375
                    br
                    br
                    | Ph: 832.559.1608
                    br
                    | Fax: 832.559.1610
            .contacts__address-item
                h3 Midland
                p 2206W. New Jersey Ave.
                    br
                    | Midland, TX 79701
                    br
                    br
                    | Ph:432.789.1080
        .contacts__nav
            .contacts__nav-link
                a(href="#") Компания
            .contacts__nav-link
                a(href="#") Продукты и услуги
            .contacts__nav-link
                a(href="#") Пресс центр
            .contacts__nav-link
                a(href="#") Контакты
        .contacts__rights
            .contacts__rights-company
                h4 &copy; Frontier MWD Systems LLC. 2019
            .contacts__rights-dev
                a.contacts__rights-linkedin(href="#" target="_blank")
                    svg.linkedin-icon(width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0.253906V18.6172H16V0.253906H0ZM4.9766 15.5096H2.60276V7.31291H4.9766V15.5096ZM3.78968 6.19417H3.774C2.97769 6.19417 2.46154 5.56453 2.46154 4.77753C2.46154 3.97326 2.99277 3.36146 3.80522 3.36146C4.61785 3.36146 5.11722 3.97326 5.13276 4.77753C5.13276 5.56453 4.61785 6.19417 3.78968 6.19417ZM13.5385 15.5096H11.164V11.1244C11.164 10.0229 10.8209 9.27108 9.96153 9.27108C9.30521 9.27108 8.9152 9.77731 8.74339 10.2677C8.68093 10.4428 8.66462 10.6863 8.66462 10.9319V15.5097H6.28969C6.28969 15.5097 6.32151 8.08191 6.28969 7.31295H8.66462V8.47444C8.98015 7.91721 9.54325 7.12052 10.8046 7.12052C12.3672 7.12052 13.5385 8.29174 13.5385 10.8092V15.5096Z" fill="white")
                    h4 LinkedIn
                .contacts__rights-only
                    h4 Design by Only.
script(src="js/swiper.min.js")
script(src='js/script.js')